---
const base = import.meta.env.BASE_URL;

const links = [
    { href: `${base}uvodni-informace`, label: "Úvodní informace" },
    { href: `${base}svatebni-den`, label: "Svatební den" },
    { href: `${base}ubytovani`, label: "Ubytování" },
    { href: `${base}nas-pribeh`, label: "Náš příběh" },
    { href: `${base}fotogalerie`, label: "Fotogalerie" },
    { href: `${base}dotaznik`, label: "Dotazník" },
];
---

<nav class="menu-nav">
    <ul
        class="menu menu-xl menu-vertical font-alexbrush text-muted *:p-4 items-center justify-center"
    >
        {
            links.map(({ href, label }) => (
                <li class="group flex justify-center">
                    <a
                        class="rounded-none nav-btn text-6xl xl:text-5xl 2xl:text-[3.75rem] inline-flex flex-col items-center text-center transition-all duration-300 group-hover:text-accent after:content-[attr(data-text)] after:h-0 after:overflow-hidden after:invisible after:font-extralight after:pointer-events-none"
                        href={href}
                        data-text={label}
                    >
                        {label}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>
